mixin buildTree(list, level = 0, currentId ='') 
  each item in list
    - const prefix = "--".repeat(level)
    option(value=item.id
      selected=(item.id == currentId ? true : false )
      ) #{prefix} #{item.name}
    if (item.child && item.child.length > 0) 
      +buildTree(item.child, level + 1, currentId)